$mainWhite: #ffffff;
$mainBlack: #000000 !default;
$mainRed: #c33c54;
$secondary: #eee;
$mainlight:rgb(245, 249, 254);
$secondaryWhite: #e5e5e5;
$mainGreen: #00ff00;
$mainBlue: #0d1b48;
$mainYellow: #ffff00;
$secondaryBlue: #424767;
$text-muted: #52547A;
$drobdawn-bordr: rgb(227, 227, 227);
$whiteBlue: #6d74ff13;
$Blue-light: #6d74ff42;
$facebook: #3b5999;
$blue: rgb(3, 37, 65);
$slack: #3aaf85;
$twitter: #1da1f2;
$dribbble: #DB4337;
$bgColor:rgba(32, 11, 11, 0.856);
$gridGutter: 30px;
$gridColumns: 12;
$spacingCount: 8;
$linerg: rgb(187, 253, 206);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-lg: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
$box-shadow: 0 1rem 3rem rgba(13,27,72,.175)!important;
$mainFont: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap";

