.hero__pages.row {
  gap: 20px;
}
.hero__pages.row .col {
  flex:1 250px;
}

.get__products.row {
  gap: 20px;
}
.get__products.row .col {
  flex: 1 150px;
}
.hide{
  display: none;
}


// .hero__section{
//   position: absolute;
// width: 994px;
// height: 253.71px;
// left: 223px;
// top: 160px;

// background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
// box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
// border-radius: 18.0727px;
// }