nav {
  width: 100%;
  height: 64px;
  background-color: #032541;
  display: flex;
}

.navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // a img {
  //   width: 154px;
  //   height: 20px;
  // }
}

/* nav_menu */

.nav_menu {
  display: flex;
  align-items: center;

  li {
    margin-left: 32px;

    a {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
}

.join_menu {
  display: flex;
  align-items: center;

  li {
    margin-left: 16px;

    a {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
}

.inner_content {
  width: 100%;
  height: 400px;
  // background-image: url(../assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  color: #fff;
}

.inner_title {
  h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }
}

/* Search */

.search_input {
  width: 90%;
  height: 46px;
  line-height: 46px;
  margin-top: 32px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;

  &:focus {
    outline: none;
  }
}

.search_submit {
  height: 47px;
  padding: 10px 26px;
  margin-left: -110px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(
      to right,
      rgba(1, 180, 228, 1) 0%,
      rgba(30, 213, 169, 1) 100%
    );
    color: #000;
  }
}

/* What Popular? */

.films {
  width: 100%;
  height: auto;
  padding: 32px 0;
  background-color: #f5f5f5;
  display: flex;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 32px;
  }
}

/* Film */

.film {
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  text-align: center;

  // img {
  //   width: 150px;
  //   height: 225px;
  //   border-radius: 8px;
  // }

  h4 {
    max-width: 150px;
    font-size: 1em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin-top: 16px;

    &:hover {
      color: #1ed5a9;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
  }
}
.navbar a {
  color: $secondary;
}


.drop-content a {
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid rgba(99, 99, 99, 0.527);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.8rem;
}
.drop .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 1rem 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.drop:hover .drop-content {
  display: block;
}
#dropbtn{
  display: flex;

}


.phome{
  margin-left: 4rem;

}

             //HEADER BTN
 
.nav__btn {
  background-color: aliceblue;
  color: rgb(201, 172, 140);
  padding: 0.8rem 2.8rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  border: 0.2rem solid rgb(201, 172, 140);
  cursor: pointer;
}

.nav__btn:hover {
  color: rgb(0, 0, 0);
  background: rgb(201, 172, 140);
  cursor: pointer;
}
.nav__title a:hover {
  color: aliceblue;
}

.header__btn {
  display: flex;
}


@media screen and (max-width: 600px) {
  .navbar {
    ul.nav__menu {
      display: none;
    }
    ul.connect {
      display: none;
    }
    
  }

  .small__header {
    i {
      color: $mainGreen;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 601px) {
  .navbar {
    .small__header {
      display: none;
    }
  }
}